.logo {
    with: 80px;
    height: 80px;
}
/* Contenedor principal */
.bloque-imagenes {
    display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        padding: 20px;
}

.imagen-item {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 20px;
    /*box-shadow: 0 4px 6px rgba(0,0,0,0.05);*/
}

/* Contenedor de cada imagen */
.imagen-item {
    overflow: hidden; /* Oculta lo que sobresale al hacer zoom */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

/* Efecto al pasar el cursor */
.imagen-item:hover {
    transform: scale(1.03);
}

/* La imagen en sí */
.imagen-item img {
    width: 50%;
    height: 50%;
    object-fit: cover; /* Asegura que la imagen no se deforme */
    display: block;
}
